html, body {
  height: 100%;
}

body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  @include outer-container;
  height: 100%;
}
.wrap {
  @include span-columns(6 of 12);
  height: 100%;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include pad(2em);
}

.desc-wrap {
  @include flex-direction(column);
  
  p {
    font-size: 24px;
    line-height: 1.5em;
    margin: 0;
  }

  hr {
    border: none;
    background-color: rgba(0,0,0,.3);
    width: 50%;
    height: 1px;
    margin: 2em auto;
  }

  ul {
    font-size: 20px;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 0.5em;
      i {
        margin-right: 0.25em;
      }
    }
  }
}

.logo {
  width: 100%;
}

@include media($mobile) {
  .wrap {
    height: auto;
    @include span-columns(4 of 4);
  }

  .desc-wrap {
    @include flex-direction(column);
    
    p {
      font-size: 18px;
      &:nth-child(3) {
        text-align: center;
      }
    }

    ul {
      font-size: 20px;
      text-align: center;
      li {
        display: block;
        margin: 0.5em 0;
      }
    }
  }
}